.canvas {
  background-color: #f0f0f0; /* Light gray background */
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-layout {
  display: flex;
  height: calc(100% - 50px); /* Assuming the toolbar is 50px high */
}

.toolbar {
  background-color: #f0f0f0;
  padding: 10px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ddd;
}

.box-content {
  font-size: 14px;
  color: #333;
}
