.box-container {
    border: 2px solid black;
    background-color: rgb(148, 148, 148);
    position: relative;
    border-radius: 5px;
    background-color: #e0e0e0;
  }
  
  .box-container .box-header {
    height: 10px;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  .box-container .box-content {
    overflow: hidden;
    font-weight: bold;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
    padding: 5px;
  }
 
  .box-container.selected {
    border: 2px solid blue;
    border-style: solid;
    position: relative;
  }
/* Corner squares for selected box */
.box-container.selected .corner {
    width: 8px;
    height: 8px;
    background-color: blue;
    position: absolute;
  }
  
  .box-container.selected .corner.top-left {
    top: -4px;
    left: -4px;
    cursor: nwse-resize;
  }
  
  .box-container.selected .corner.top-right {
    top: -4px;
    right: -4px;
    cursor: nesw-resize;
  }
  
  .box-container.selected .corner.bottom-left {
    bottom: -4px;
    left: -4px;
    cursor: nesw-resize;
  }
  
  .box-container.selected .corner.bottom-right {
    bottom: -4px;
    right: -4px;
    cursor: nwse-resize;
  }  
  .box-content {
    font-size: 14px;
    color: #333;
  }